@using Bring_My_Book_V2.Models
@model ICollection<Post>

@{
    ViewBag.Title = "Teacher";
}


<header class="page-title pt-small pt-dark">
    <div class="container">
        <h1>@ViewBag.dept  </h1>
        @Html.ActionLink("POST", "Post", "Colleague", new { @class = "btn-ghost-light pull-right" })
    </div>
</header>


<!-- ========== Feature - Cards 2 ========== -->
<div id="services" class="gray-bg">
    <section class="container section ft-cards-2">

        <header class="sec-heading">
            <h2>Help your Colleagues</h2>
            <span class="subheading">ALL Teachers' Post</span>
        </header>
        @if (ViewBag.TotalPost > 0)
        {
            <div class="row">

                <div class="col-md-6">
                    @for (var n = 0; n <= (ViewBag.TotalPost - 1) / 2; n++)
                    {
                        <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
                            <div class="ft-content">
                                <h4 style="text-align:center"> <i class="fa fa-user"></i>@Model.ElementAt(n).PostUser.UserName @Model.ElementAt(n).PostUser.phoneNumber</h4>
                                <ul class="list-inline info">
                                    <li><i class="fa fa-male"></i> @Model.ElementAt(n).PostUser.userRole</li>
                                    <li><i class="fa fa-calendar"></i>@Model.ElementAt(n).PostDateTime</li>
                                    <li><i class="fa fa-money"></i>price - @Model.ElementAt(n).Price BDT</li>

                                    <p>@Model.ElementAt(n).PostDescription </p>
                                    @if (@Model.ElementAt(n).BuyerId.Equals(ViewBag.userId))
                                    {
                                        <li><p style="text-align:right"> You already wanted to buy.</p></li>

                                    }
                                    else
                                    {

                                        @Html.ActionLink("BUY", "Index1", "Colleague", Model.ElementAt(n), new { @class = "link-btn" })
                                    }
                                </ul>



                            </div>
                        </div><!-- / .ft-card-item -->
                    }
                    @*<!-- Item 1 -->
                        <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
                            <img src="assets/images/ft-card2-img-1.jpg" alt="Feature Image">
                            <div class="ft-content">
                                <h5>Service One</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <a href="#" class="link-btn">Learn More <span class="linea-arrows-slim-right"></span></a>
                            </div>
                        </div><!-- / .ft-card-item -->

                        <!-- Item 2 -->
                        <div class="ft-card-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.2s">
                            <img src="assets/images/ft-card2-img-3.jpg" alt="Feature Image">
                            <div class="ft-content">
                                <h5>Service Three</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <a href="#" class="link-btn">Learn More <span class="linea-arrows-slim-right"></span></a>
                            </div>
                        </div><!-- / .ft-card-item -->*@


                </div>  <!-- / .col-md-6 -->
                <div class="col-md-6">

                    @for (int n = (ViewBag.TotalPost - 1) / 2 + 1; n <= ViewBag.TotalPost - 1; n++)
                    {
                        <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
                            <div class="ft-content">
                                <h4 style="text-align:center"><i class="fa fa-user"></i>@Model.ElementAt(n).PostUser.UserName @Model.ElementAt(n).PostUser.phoneNumber</h4>
                                <ul class="list-inline info">
                                    <li><i class="fa fa-male"></i> @Model.ElementAt(n).PostUser.userRole</li>
                                    <li><i class="fa fa-calendar"></i>@Model.ElementAt(n).PostDateTime </li>
                                    <li><i class="fa fa-money"></i>price - @Model.ElementAt(n).Price BDT</li>
                                    <p>@Model.ElementAt(n).PostDescription </p>
                                    @if (@Model.ElementAt(n).BuyerId.Equals(ViewBag.userId))
                                    {
                                        <li><p style="text-align:right"> You already wanted to buy.</p></li>

                                    }
                                    else
                                    {

                                        @Html.ActionLink("BUY", "Index1", "Colleague", Model.ElementAt(n), new { @class = "link-btn" })
                                    }

                                </ul>



                            </div>
                        </div><!-- / .ft-card-item -->
                    }
                    @*<!-- Item 3 -->
                        <div class="ft-card-item wow fadeInUp" data-wow-duration="1.2s">
                            <img src="assets/images/ft-card2-img-2.jpg" alt="Feature Image">
                            <div class="ft-content">
                                <h5>Service Two</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <a href="#" class="link-btn">Learn More <span class="linea-arrows-slim-right"></span></a>
                            </div>
                        </div><!-- / .ft-card-item -->
                        <!-- Item 4 -->
                        <div class="ft-card-item wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1.2s">
                            <img src="assets/images/ft-card2-img-4.jpg" alt="Feature Image">
                            <div class="ft-content">
                                <h5>Service Four</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
                                <a href="#" class="link-btn">Learn More <span class="linea-arrows-slim-right"></span></a>
                            </div>
                        </div><!-- / .ft-card-item -->*@
                </div><!-- / .col-md-6 -->
            </div><!-- / .row -->
        }

        else
        {
            <h1> There is No posts</h1>
        }
    </section><!-- / .container -->
</div><!-- / .gray-bg -->



