<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @*<link href="~/assets/styles/fonts/et-lineicons/css/style.css" rel="stylesheet" />
    <link href="~/assets/styles/fonts/linea-font/css/linea-font.css" rel="stylesheet" />
    <link href="~/assets/styles/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />*@
    @Styles.Render("~/assets/styles/fonts/et-lineicons/css/style.css")
    @Styles.Render("~/assets/styles/fonts/linea-font/css/linea-font.css")
    @Styles.Render("~/assets/styles/fonts/fontawesome/css/font-awesome.min.css")
    
    @Styles.Render("~/assets/styles/responsive.css")
    @Styles.Render("~/assets/styles/template-picker.css")
    @Styles.Render("~/assets/styles/vendor/animate.css")
    @Styles.Render("~/assets/styles/vendor/slick.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/assets/styles/main.css")

</head>
<body>
    <div class="preloader">
        <img src="~/assets/images/loader.svg" alt="Loading...">
    </div>
    <!-- ========== Navigation ========== -->
    <nav class="navbar navbar-default navbar-fixed-top mega navbar-fw navbar-trans">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Logo -->
                @Html.ActionLink("Bring My Book", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div><!-- / .navbar-header -->
            <!-- Navbar Links -->
            <div id="navbar" class="navbar-collapse collapse">
                <!-- Navbar Links Right -->
                @Html.Partial("_LoginPartial")
            </div><!--/.navbar-collapse -->
        </div><!-- / .container -->
    </nav><!-- / .navbar -->
    @RenderBody()
    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="text-left">&copy; @DateTime.Now.Year - All Rights Reserved</p>
                </div>
                <div class="col-md-6">
                    <p class="text-right">Developed By SUST CSE</p>
                </div>
            </div>
        </div>
    </footer>
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/assets/js/vendor/slick.min.js")
    @Scripts.Render("~/assets/js/vendor/wow.min.js")
    @Scripts.Render("~/assets/js/main.js")
    @RenderSection("scripts", required: false)
</body>
</html>
