@model Bring_My_Book_V2.Models.Post
@{
    ViewBag.Title = "Post";
}

<header class="page-title pt-small pt-dark">
    <div class="container">
        <h1>@ViewBag.Title</h1>
    </div>
</header>

<div class="login-1">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">

                <!-- Log in -->
                <div class="panel-group" id="login-accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel top-panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title text-center">
                                Post What you need
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">

                                <div class="form-login">
                                    @using (Html.BeginForm("Post", "Batch", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()

                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                           <!-- Textarea -->

                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.PostDescription, new { @class = "col-md-4 control-label" })
                                            </div>

                                            <div class="col-md-8">
                                                @Html.TextAreaFor(m => m.PostDescription, new { @class = "form-control", @placeholder = "Write details about your post", @rows = "9" })
                                            </div>

                                        </div>


                                        <div class="form-group">
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.Price, new { @class = "col-md-4 control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(m => m.Price, new { @class = "form-control", @type = "number", @min = "0" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-offset-4 col-md-8">
                                                <input type="submit" class="btn btn-default" value="Post" />
                                            </div>
                                        </div>
                                    }
                                </div><!-- / .form-login -->

                            </div><!-- / .panel-body -->
                        </div><!-- / .panel-collapse -->
                    </div><!-- / .panel -->

                </div><!-- / #login-accordion .panel-group -->


            </div><!-- / .col-md-6 .col-md-offset-3 -->
        </div><!-- / .row -->
    </div>
</div>






@section scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            $("#student").click(function () {
                $("#teacher1").css("display", "none");
                $("#student1").css("display", "block");
            });
            $("#teacher").click(function () {
                $("#student1").css("display", "none");
                $("#teacher1").css("display", "block");
            });
        });
    </script>

}
